body{
    background-color: rgb(30, 30, 30);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('./assets/gatofest2.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: white;
    margin-top: 20px;
}

h2{
    text-align: center;
    color: white;
}

#center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
}

.CardGato{
    background-color:rgb(0, 248, 248);
    width: 250px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.CardGato img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.CardGato h2{
    color: black;
    margin-top: 10px;
}

.CardGato p{
    color: rgb(50, 50, 50);
    font-size: 16px;
}

.CardGato button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.CardGato button:hover{
    background-color: rgb(200, 0, 0);
}

.CardGato.counter{
    margin-top: 10px;
    font-size: 18px;
    color: rgb(50, 50, 50);
}

.botaoVoltar{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 255);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20%;

}

.botaoVoltar:hover{
    background-color: rgb(0, 0, 100);
}